
body{
    font-family: 'Red Hat Display';
    font-size: 16px;
}

@media (max-width: 375px) {
    body{
        background-image: url("../images/pattern-background-mobile.svg");
    }
}

@media (min-width: 376px){
    body{
        background-image: url("../images/pattern-background-desktop.svg");
    }
}

.card{
    /* border: solid 1px; */
    border-radius: 25px;
    text-align: center;
    background: hsl(225, 100%, 98%);
}

.container-card{
    width: 351px;
    margin: 0 auto;
    position: relative;
}

.header-img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 350px;
}